* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f1faee;
  color: #264653;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  color: #2a9d8f;
}

address {
  font-style: normal;
}
button {
  border: none;
  cursor: pointer;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #26465359;
}

label {
  display: block;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 64px;
  padding-bottom: 64px;
}
.container {
}

.header .container {
  display: flex;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 72px;
  flex-grow: 1;
}
.logo-icon {
  fill: #8acbbb;
  height: 100%;
}
.logo-text-wrap {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.logo-company-text {
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
}
.logo-company-losung {
  color: #2a9d8f;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}
.nav-menu {
  display: flex;
  align-self: start;
}
.nav-list {
  display: flex;
  gap: 18px;
  margin-right: 18px;
  align-items: center;
}
.nav-list-item {
}
.nav-list-link {
}
.sing-btn-wrap {
  display: flex;
  align-items: center;
}

.sing-btn-link {
  color: #f1faee;
  display: flex;
  background-color: #2a9d8f;
  min-width: 124px;
  width: 46px;
  padding: 12px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
}

.main .container {
  display: flex;
  gap: 86px;
  max-height: 672px;
}

/* -----------------------------------SECTION CARD---------------------------------- */

.card {
}
.card-wrap {
  background-color: #8acbbb;
  display: flex;
  flex-direction: column;
  padding: 64px 45px;
  max-width: 482px;
  border-radius: 32px;
  color: #264653;
}
.card-title {
  margin-bottom: 36px;
  font-size: 48px;
  font-weight: 900;
  line-height: 52px;
}
.card-text {
  max-width: 316px;
  margin-bottom: 80px;
  font-family: "Open Sans", sans-serif;
}
.contacts {
  font-family: "Open Sans", sans-serif;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}
.contacts-list-item {
  display: flex;
  align-items: center;
}
.contact-list-logo {
}
.contact-list-link {
  line-height: 24px;
  color: inherit;
  margin-left: 26px;
}

.contact-list-address {
  align-self: flex-start;
  margin-left: 26px;
}

.form {
}
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}
.form-group {
  margin-bottom: 38px;
}
.submit-btn {
}
